body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 0.08em;
  background-color: #FFF;
  color: #111518;
  line-height: 140%;
}

.container {
  width: 1314px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 1140px) {
  .container {
    width: 1140px;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}

img {
  display: inline-block;
}

.header {
  padding-block: 30px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #b9b9b9;
}
.header__link:hover {
  color: #FF6B09;
  transition: 0.3s ease-in-out;
}
.header button {
  background-color: transparent;
  color: #FF6B09;
  border: 2px solid #FF6B09;
}
.header button:hover {
  background-color: #FF6B09;
  color: #FFF;
  border: none;
}

.about {
  padding: 280px 0px 130px;
  background-color: #f1f1f1;
}
.about__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  margin-bottom: 47px;
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.about__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 27%;
  background-color: #FFF;
  padding: 35px 28px 55px;
  box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.1);
  height: 341px;
  transition: 450ms ease-in-out;
}
.about__item:hover {
  background-color: #FF6B09;
}
.about__item:hover .about__icon {
  fill: #FFF;
}
.about__item:hover .about__subtitle {
  color: #FFF;
}
.about__item:hover .about__subtitle::before {
  border: 1px solid #FFF;
}
.about__item:hover .about__desc {
  color: #FFF;
}
.about__icon {
  fill: #FF6B09;
  width: 55px;
  height: 55px;
  margin-bottom: 28px;
  text-align: center;
}
.about__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #111518;
  margin-bottom: 32px;
  position: relative;
}
.about__subtitle::before {
  content: "";
  border: 1px solid #FF6B09;
  position: absolute;
  width: 20px;
  left: 45%;
  top: 60px;
}
.about__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #b9b9b9;
  margin-bottom: 55px;
}

.banner {
  background-image: url("../../images/desktop/banner-bg.jpg");
  height: 878px;
  box-shadow: -5px 21px 26px 0 rgba(0, 0, 0, 0.04);
}
.banner__container {
  display: flex;
  justify-content: space-between;
}
.banner__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 58px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 15px;
}
.banner__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 165%;
  color: #111518;
  margin-bottom: 45px;
}
.banner__desc span {
  font-weight: 500;
  color: #b9b9b9;
}
.banner button {
  background-color: #FF6B09;
  color: #FFF;
}
.banner button:hover {
  background-color: transparent;
  border: 2px solid #FF6B09;
  color: #FF6B09;
}

.footer__container {
  display: flex;
  padding-block: 55px;
  flex-direction: column;
}
.footer__icon {
  width: 30px;
  height: 30px;
  fill: #FF6B09;
  padding-right: 4px;
  padding-left: 290px;
}
.footer__icon-insta {
  width: 40px;
  height: 40px;
}
.footer__tel {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #111518;
  padding-right: 56px;
}
.footer__tel::after {
  content: "";
  border: 1px solid #b9b9b9;
  margin-left: 30px;
}
.footer__wrapper {
  display: flex;
}
.footer__copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
  color: #b9b9b9;
}
.footer__list {
  display: flex;
}

.highlights {
  padding: 130px 0px;
}
.highlights__icon {
  width: 48px;
  height: 47px;
  fill: #FF6B09;
  border: 2px solid #FF6B09;
  padding: 26px 27px;
}
.highlights__list {
  display: flex;
  gap: 128px;
}
.highlights__item {
  display: flex;
  align-items: center;
  position: relative;
}
.highlights__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 165%;
  position: relative;
  background-color: #FFF;
  right: 15px;
  width: 238px;
}

.problems {
  padding: 100px 0px 200px;
  background-color: #111518;
  background-image: url("../../images/desktop/problems-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.problems__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #FFF;
  margin-bottom: 68px;
}
.problems__title span {
  color: #FF6B09;
}

.program {
  padding-block: 120px;
  background-color: #111518;
}
.program__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #FFF;
  margin-bottom: 58px;
}
.program__columns {
  display: flex;
  border-top: 2px solid #FFF;
  gap: 46px;
}
.program__column {
  width: 20%;
  position: relative;
}
.program__column::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #FF6B09;
  border-radius: 50px;
  position: absolute;
  bottom: 98.7%;
}
.program__rows {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.program__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 93%;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 48px;
}
.program__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 165%;
  color: #FF6B09;
  padding-left: 25px;
  position: relative;
}
.program__name::before {
  content: "";
  border-bottom: 2px solid #FF6B09;
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 15px;
}
.program__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  color: #b9b9b9;
}
.program__line {
  margin-bottom: 25px;
  margin-top: 15px;
  border-top: 2px solid #FF6B09;
  width: 15px;
  position: relative;
  bottom: 0;
  left: 0;
}

.consultation {
  background-image: url(./images/desktop/registration-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.consultation__container {
  display: flex;
  flex-direction: column;
  padding: 100px 0 62px;
}
.consultation__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #FFF;
  padding-bottom: 50px;
}
.consultation__title span {
  color: #FF6B09;
}
.consultation__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #FFF;
  padding-bottom: 56px;
}
.consultation__text span {
  color: #FF6B09;
}
.consultation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.consultation__input {
  width: 478px;
  background-color: transparent;
  padding: 23px 0 23px;
  border: 1px solid #f1f1f1;
}
.consultation__input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.08em;
  color: #FFF;
  padding-left: 40px;
}
.consultation__input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.08em;
  color: #FFF;
  padding-left: 40px;
}
.consultation .button {
  padding: 27px 71px 26px 71px;
  color: #FFF;
  background-color: #FF6B09;
}
.consultation__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  gap: 30px;
}

.feedback {
  background-color: #f1f1f1;
}
.feedback__container {
  display: flex;
  padding: 130px 0 130px;
  flex-direction: column;
}
.feedback__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #111518;
}
.feedback__first-arrow {
  fill: #FF6B09;
  width: 25px;
  position: relative;
  top: 250px;
  right: 100px;
}
.feedback__second-arrow {
  fill: #FF6B09;
  width: 25px;
  position: relative;
  left: 1400px;
  bottom: 250px;
}
.feedback__wrapper {
  background-color: #FFF;
  padding: 50px 112px 51px 82px;
  display: flex;
  box-shadow: -5px 8px 26px 0 rgba(0, 0, 0, 0.04);
}
.feedback__img {
  width: 150px;
  height: 150px;
}
.feedback__icon {
  height: 30px;
  width: 30px;
  fill: #436EAB;
  padding-top: 17px;
  position: relative;
  left: 58px;
}
.feedback__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 0.08em;
  color: #FF6B09;
  padding-bottom: 10px;
}
.feedback__about {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  padding-bottom: 18px;
}
.feedback__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  color: #3d3d3d;
}
.feedback__link {
  color: #FF6B09;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  text-decoration: underline;
}
.feedback__wrapper-img {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}
.feedback__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.feedback__img-slider {
  width: 54px;
  height: 54px;
}

.guarantee__container {
  display: flex;
  padding: 129px 0 130px;
  flex-direction: column;
}
.guarantee__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #111518;
  padding-bottom: 50px;
}
.guarantee__wrapper {
  background-color: #f1f1f1;
  padding: 50px 112px 45px 112px;
}
.guarantee__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.guarantee__icon {
  width: 22px;
  height: 30px;
  fill: #FF6B09;
}
.guarantee__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
}
.guarantee__text span {
  color: #FF6B09;
}
.guarantee__item {
  display: flex;
  gap: 20px;
}
.guarantee__item::before {
  content: "";
  border: 1px dashed #b9b9b9;
  height: 40px;
  display: inline-block;
  position: relative;
  left: 30px;
  bottom: 44px;
}
.guarantee__item:first-child::before {
  content: none;
}
.guarantee__item:first-child .guarantee__icon {
  margin-left: 23px;
}

.button {
  font-family: "Montserrat", sans-serif;
  border: none;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  padding: 27px 70px;
}

.content {
  background-color: #FFF;
  padding: 67px 113px;
  position: absolute;
  width: 1314px;
  z-index: 2;
}
.content__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.content__item {
  width: 31%;
}
.content__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.content__number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 165%;
  color: #FF6B09;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}
.content__number::before {
  content: "";
  border-bottom: 2px solid #FF6B09;
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 15px;
}

.teacher__container {
  padding: 130px 0 129px;
}
.teacher__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
  padding-bottom: 50px;
}
.teacher__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 0.08em;
  color: #111518;
  border-bottom: 1px solid #b9b9b9;
  padding-bottom: 15px;
}
.teacher__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.teacher__icon {
  height: 20px;
  width: 25px;
  fill: #FF6B09;
}
.teacher__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #111518;
  padding-top: 30px;
}
.teacher__wrapper {
  display: flex;
  gap: 60px;
}
.teacher__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  color: #b9b9b9;
}
.teacher__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  text-decoration: underline;
  color: #FF6B09;
  padding-top: 22px;
}
.teacher__item {
  display: flex;
  align-items: flex-end;
  gap: 34px;
}
.teacher__wrapper-desc {
  padding-top: 88px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.teacher__wrapper-desc::before {
  content: "";
  border: 1px solid #FF6B09;
  width: 20px;
}