body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 0.08em;
  background-color: #FFF;
  color: #111518;
  line-height: 140%;
}

.container {
  width: 1314px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 1140px) {
  .container {
    width: 1140px;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}

img {
  display: inline-block;
}

.header {
  padding-block: 30px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #b9b9b9;
}
.header__link:hover {
  color: #FF6B09;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header button {
  background-color: transparent;
  color: #FF6B09;
  border: 2px solid #FF6B09;
}
.header button:hover {
  background-color: #FF6B09;
  color: #FFF;
  border: none;
}

.about {
  padding: 280px 0px 130px;
  background-color: #f1f1f1;
}
.about__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  margin-bottom: 47px;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27%;
  background-color: #FFF;
  padding: 35px 28px 55px;
  -webkit-box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.1);
  height: 341px;
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
}
.about__item:hover {
  background-color: #FF6B09;
}
.about__item:hover .about__icon {
  fill: #FFF;
}
.about__item:hover .about__subtitle {
  color: #FFF;
}
.about__item:hover .about__subtitle::before {
  border: 1px solid #FFF;
}
.about__item:hover .about__desc {
  color: #FFF;
}
.about__icon {
  fill: #FF6B09;
  width: 55px;
  height: 55px;
  margin-bottom: 28px;
  text-align: center;
}
.about__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #111518;
  margin-bottom: 32px;
  position: relative;
}
.about__subtitle::before {
  content: "";
  border: 1px solid #FF6B09;
  position: absolute;
  width: 20px;
  left: 45%;
  top: 60px;
}
.about__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #b9b9b9;
  margin-bottom: 55px;
}

.banner {
  background-image: url("../../images/desktop/banner-bg.jpg");
  height: 878px;
  -webkit-box-shadow: -5px 21px 26px 0 rgba(0, 0, 0, 0.04);
          box-shadow: -5px 21px 26px 0 rgba(0, 0, 0, 0.04);
}
.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 58px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 15px;
}
.banner__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 165%;
  color: #111518;
  margin-bottom: 45px;
}
.banner__desc span {
  font-weight: 500;
  color: #b9b9b9;
}
.banner button {
  background-color: #FF6B09;
  color: #FFF;
}
.banner button:hover {
  background-color: transparent;
  border: 2px solid #FF6B09;
  color: #FF6B09;
}

.highlights {
  padding: 130px 0px;
}
.highlights__icon {
  width: 48px;
  height: 47px;
  fill: #FF6B09;
  border: 2px solid #FF6B09;
  padding: 26px 27px;
}
.highlights__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 128px;
}
.highlights__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.highlights__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 165%;
  position: relative;
  background-color: #FFF;
  right: 15px;
  width: 238px;
}

.problems {
  padding: 100px 0px 200px;
  background-color: #111518;
  background-image: url("../../images/desktop/problems-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.problems__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #FFF;
  margin-bottom: 68px;
}
.problems__title span {
  color: #FF6B09;
}

.guarantee__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 129px 0 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.guarantee__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #111518;
  padding-bottom: 50px;
}
.guarantee__wrapper {
  background-color: #f1f1f1;
  padding: 50px 112px 45px 112px;
}
.guarantee__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.guarantee__icon {
  width: 22px;
  height: 30px;
  fill: #FF6B09;
}
.guarantee__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
}
.guarantee__text span {
  color: #FF6B09;
}
.guarantee__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.button {
  font-family: "Montserrat", sans-serif;
  border: none;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  padding: 27px 70px;
}

.content {
  background-color: #FFF;
  padding: 67px 113px;
  position: absolute;
  width: 1314px;
}
.content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.content__item {
  width: 31%;
}
.content__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.content__number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 165%;
  color: #FF6B09;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}
.content__number::before {
  content: "";
  border-bottom: 2px solid #FF6B09;
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 15px;
}

.teacher__container {
  padding: 130px 0 129px;
}
.teacher__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
  padding-bottom: 50px;
}
.teacher__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 0.08em;
  color: #111518;
  border-bottom: 1px solid #b9b9b9;
  padding-bottom: 15px;
}
.teacher__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.teacher__icon {
  height: 20px;
  width: 25px;
  fill: #FF6B09;
}
.teacher__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #111518;
  padding-top: 30px;
}
.teacher__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
.teacher__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  color: #b9b9b9;
}
.teacher__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  text-decoration: underline;
  color: #FF6B09;
  padding-top: 22px;
}
.teacher__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 34px;
}
.teacher__wrapper-desc {
  padding-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}
.teacher__wrapper-desc::before {
  content: "";
  border: 1px solid #FF6B09;
  width: 20px;
}