@use "./base/_reset.scss";
@use "./base/_global.scss";
@use "./components/header";
@use "./components/about";
@use "./components/banner";
@use "./components/footer";
@use "./components/highlights";
@use "./components/problems";
@use "./components/program";
@use "./components/consultation";
@use "./components/feedback";
@use "./components/guarantee";