@use '../utils/variables' as *;

@mixin button-filled ( $background-color: $accent-color, $text-color: $secondary-text) {
    background-color: $background-color;
    color: $text-color;
    &:hover{
        background-color: transparent;
        border: 2px solid $accent-color;
        color: $accent-color;
    }
}

@mixin button-ghost ( $border-color: $accent-color, $text-color: $accent-color) {
    background-color: transparent;
    color: $text-color;
    border: 2px solid $border-color;
    &:hover{
        background-color: $accent-color;
        color: $secondary-text;
        border: none;
    }
} 