@use '../utils/variables' as *;

.about {

    padding: 280px 0px 130px;
    background-color: $secondary-bg;

    &__title {
        font-family: $primary-font;
        font-weight: 800;
        font-size: 46px;
        line-height: 130%;
        margin-bottom: 47px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 27%;
        background-color: $primary-bg;
        padding: 35px 28px 55px;
    }

    &__icon {
        fill: $accent-color;
        width: 55px;
        height: 55px;
        margin-bottom: 28px;
        text-align: center;
    }

    &__subtitle {
        font-family: $primary-font;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: $primary-text;
        margin-bottom: 32px;
    }

    &__desc {
        font-family: $primary-font;
        font-weight: 500;
        font-size: 18px;
        line-height: 156%;
        text-align: center;
        color: $third-text;
    }

}