@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.banner {

    background-image: url("../../images/desktop/banner-bg.jpg");
    height: 878px;
    box-shadow: -5px 21px 26px 0 rgba(0, 0, 0, 0.04);
    

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-family: $primary-font;
        font-weight: 800;
        font-size: 58px;
        line-height: 130%;
        letter-spacing: 0.03em;
        color: $primary-text;
        margin-bottom: 15px;
    }

    &__desc {
        font-family: $primary-font;
        font-weight: 700;
        line-height: 165%;
        color: $primary-text;
        margin-bottom: 45px;

        span {
            font-weight: 500;
            color: $third-text;
        }
    }

    button {
        @include button-filled
    }

}