@use '../utils/variables' as *;

.content {

    box-shadow: -5px 8px 26px 0 rgba(0, 0, 0, 0.04);
    background-color: $primary-bg;
    padding: 67px 113px;
    position: absolute;
    width: 1314px;
    z-index: 2;

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 30px;
    }

    &__item {
        width: 31%;
        
    }

    &__subtitle {
        font-family: $primary-font;
        font-weight: 700;
        font-size: 20px;
    }

    &__number { 
        font-family: $primary-font;
        font-weight: 700;
        font-size: 20px;
        line-height: 165%;
        color: $accent-color;
        position: relative;
        padding-left: 25px;
        margin-bottom: 10px;
        &::before {
            content: "";
            border-bottom: 2px solid $accent-color;
            position: absolute;
            bottom: 50%;
            left: 0;
            width: 15px;
        }
    }
}