@use "../utils/variables" as *;

.footer {
  padding-top: 55px;

  &__container {
    display: flex;
    flex-direction: column;
    background-color: $third-bg;
  }
  &__icon {
    width: 30px;
    height: 30px;
    fill: $accent-color;
    padding-right: 4px;
    padding-left: 290px;
  }
  &__icon-insta{
    width: 40px;
    height: 40px;
  }
  &__tel {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.08em;
    text-align: center;
    color: $primary-text;
    padding-right: 56px;
    &::after {
      content: "";
      border: 1px solid $third-text;
      margin-left: 30px;
    }
  }
  &__wrapper {
    display: flex;
    background-color: $primary-bg;
    padding-bottom: 54px;
  }
  &__copyright {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    color: $third-text;
  }
  &__bottom{
    background-color: $primary-text;
    padding: 20px 0;
  }
  &__list {
    display: flex;
  }
}
