@use '../utils/variables' as *;

.problems {

    padding: 100px 0px 200px;
    background-color: $third-bg;
    background-image: url("../../images/desktop/problems-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    .title-light {
        margin-bottom: 68px;
    }

    

}