@use '../utils/variables' as *;

.title .title-light {
    font-family: $primary-font;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    color: $primary-text;

    span {
        color: $accent-color;
    }
}

.title-light {
    color: $secondary-text;
}